@ttw:registry=https://pkgs.dev.azure.com/TaylorThomsonWhitting/_packaging/TaylorThomsonWhitting/npm/registry/ 
@npm:registry=https://registry.npmjs.org                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/TaylorThomsonWhitting/_packaging/TaylorThomsonWhitting/npm/registry/:username=TaylorThomsonWhitting
//pkgs.dev.azure.com/TaylorThomsonWhitting/_packaging/TaylorThomsonWhitting/npm/registry/:_password=$AZURE_ACCESS_TOKEN
//pkgs.dev.azure.com/TaylorThomsonWhitting/_packaging/TaylorThomsonWhitting/npm/registry/:email=hub@ttw.com.au
//pkgs.dev.azure.com/TaylorThomsonWhitting/_packaging/TaylorThomsonWhitting/npm/:username=TaylorThomsonWhitting
//pkgs.dev.azure.com/TaylorThomsonWhitting/_packaging/TaylorThomsonWhitting/npm/:_password=$AZURE_ACCESS_TOKEN
//pkgs.dev.azure.com/TaylorThomsonWhitting/_packaging/TaylorThomsonWhitting/npm/:email=hub@ttw.com.au
; end auth token
